html {
    font-size: 10px;
}

body {
    height: 140rem;
    border: 0px;
    font-family: 'Playfair Display', serif;
    font-weight: 300;
    font-size: 10px;
    position: relative;
    background: rgb(41,42,51);
    background: linear-gradient(0deg, rgba(41, 42, 51, 0.626) 0%, rgba(227, 160, 28, 0.373) 45%, rgba(174, 127, 136, 0.373) 71%, rgba(178, 220, 237, 0.489) 100%);
}

/* header css */

#header-background {
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 10px 9px 0px rgba(57, 57, 57, 0.79);
    /* position: sticky;
    top: 0; */
}

#header {
    max-width: 1500px;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}

#header a{
    text-decoration: none;
    margin: 0px 40px 0px 40px;
    color: black;
    font-size: 2.5rem;
}

#header a:hover {
    color: gray;
}

#logo {
    width: 350px;
    margin-top: -45px;
    margin-bottom: -80px;
}

/*home page css*/

.mountain-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1500px;
    position: relative;
}

.home-column {
    width: 700px;
    position: absolute;
    bottom: -1170px;
    left: 400px;
    
}

.home-column-2 {
    width: 150%;
}

#random-container {
    max-width: 1500px;
    margin: auto;
    padding-top: 100px;
}

.table-image {
    width: 100px;
}



table, th, tr, td {
    border: 1px groove ;
    table-layout: fixed;
}

td {
    text-align: center;
}

th {
    font-size: 1.8rem;
    background-color: rgba(255,255,255,0.3);
    text-align: left;
    padding: 8px 15px;
}

td {
    font-size: 1.6rem;
}


/* Peak List style */

.mountain-container-2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1500px;
    position: relative;
    padding-top: 100px;
    
}
.mountain-container-2 table {
    table-layout: fixed;
    width: 650px;
}

.body {
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mountain-container-2 tr:hover {
    cursor: pointer;
}

#bi-sort {
    text-align: center;
    width: 77px;
}
#tabl-image{
    width: 105px;
}

.class-head{
    width: 59px;
}

.class{
    width: 86px;
}

h1 {
    font-size: 2rem;
}

#selected-peak {
    margin: auto;
    height: 800px;
    background-color: rgba(255,255,255,0.3);
    padding: 0px 20px 20px 20px;
}

#selected-image {
    object-fit: cover;
    max-width: 640px;
    height: 480px;
    margin: auto;
}

.main-text {
    font-size: 1.8rem;
}

form {
    font-size: 1.6rem;
}

input, textarea {
    border: 0;
    padding:px;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.229);
    margin-bottom: 6px;
}

label {
    margin-top: 4px;
}

#form-container {
    text-align: center;
    position: relative;
    margin-top: -85px;
}

#completed {
    position: absolute;
    top: 190px;
    left: 260px;
    border: 1.5px solid #e4f0f5;
    background-color: rgba(255,255,255,0.3);
    padding: 5px 5px
}


#completed:hover {
    border: 1.5px solid #edf683;
    box-shadow: 0 0.5em 0.5em -0.4em #edf683;
    transform: translateY(-0.30em);
    color: #fff;
}

#submit {
    position: absolute;
    top: 190px;
    left: 290px;
    border: 1.5px solid #e4f0f5;
    background-color: rgba(255,255,255,0.3);
    padding: 5px 5px
}

#submit:hover {
    border: 1.5px solid #edf683;
    box-shadow: 0 0.5em 0.5em -0.4em #edf683;
    transform: translateY(-0.25em);
    color: #fff;
}
