html {
    font-size: 10px;
}
@font-face {
    font-family: 'Brixton';
    src: url('../data/Brixton\ Medium.ttf');
}


body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Brixton', serif;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 10px;
    position: relative;
    background: rgb(41,42,51);
    background: linear-gradient(0deg, rgba(41, 42, 51, 0.626) 0%, rgba(227, 160, 28, 0.373) 45%, rgba(174, 127, 136, 0.373) 71%, rgba(178, 220, 237, 0.489) 100%);
    margin-bottom: 100px;
}

/* header css */

#header-background {
    background-color: rgba(255,255,255,0.3);
    box-shadow: 0px 10px 9px 0px rgba(57, 57, 57, 0.79);
    /* position: sticky;
    top: 0; */
}

#header {
    max-width: 1500px;
    margin: auto;
    text-align: center;
    padding-bottom: 15px;
}

#header a{
    text-decoration: none;
    margin: 0px 40px 0px 40px;
    color: black;
    font-size: 2.5rem;
}

#header a:hover {
    color: gray;
}

#logo {
    width: 350px;
    margin-top: -45px;
    margin-bottom: -80px;
}

/*home page css*/


#main-image-container {
    max-width: 1500px;
    margin: auto;
    position: relative;
}

#main-image{
    max-width: 80%;
    background-color: rgba(255,255,255,0.3);
    margin-top: 80px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 50px;
    
}

#hover-text-container{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.195);
    width: calc(80% - 0px);
    margin-left: 10%;
    margin-top: -35%;
    font-size: 3rem;
}

#hover-text:hover{
    cursor: pointer;
}


#hover-text{
    color: #fff;
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
    
}

@keyframes pulsate {
    0% { 
        opacity: 0.5;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.5;
    }
}


.mountain-container {
    margin: auto;
    max-width: 1500px;
    position: relative;
    text-align: center;
}

.home-column {
    width: 700px;
    position: absolute;
    bottom: -1170px;
    left: 400px;
    
}

.home-column-2 {
    width: 150%;
}

#random-container {
    max-width: 1500px;
    margin: auto;
    padding-top: 0px;
}

.table-image {
    width: 100px;
}



table, th, tr, td {
    border: 1px groove ;
    table-layout: fixed;
}

td {
    text-align: center;
}

th {
    font-size: 1.8rem;
    background-color: rgba(255,255,255,0.3);
    text-align: left;
    padding: 8px 15px;
}

td {
    font-size: 1.6rem;
}

/* Peak List style */

.mountain-container-2 {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1500px;
    position: relative;
    padding-top: 100px;
    
}
.mountain-container-2 table {
    table-layout: fixed;
    width: 600px;
    margin-left: 30px;
    
}

.body {
    height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
}

.mountain-container-2 tr:hover {
    cursor: pointer;
}

#bi-sort {
    text-align: center;
    width: 77px;
}
#tabl-image{
    width: 105px;
}

.class-head{
    width: 59px;
}

.class{
    width: 86px;
}

h1 {
    font-size: 2rem;
}

#selected-peak {
    /* display: flex;
    flex-direction: column; */
    margin: auto;
    height: 100%;
    background-color: rgba(255,255,255,0.3);
    padding: 0px 20px 20px 20px;
}

#selected-image {
    object-fit: cover;
    max-width: 640px;
    height: 480px;
    margin: auto;
}

.main-text {
    font-size: 1.8rem;
}

form {
    font-size: 1.6rem;
}

input, textarea {
    border: 0;
    box-shadow:0 0 15px 4px rgba(0, 0, 0, 0.229);
    margin-bottom: 6px;
    resize: vertical;
}

label {
    margin-top: 4px;
}

#form-container {
    text-align: center;
    position: relative;
    margin-top: -85px;
}

#completed {
    border: 1.5px solid #e4f0f5;
    background-color: rgba(255,255,255,0.3);
    padding: 5px 5px 5px 5px;
    margin: 85px 0px 10px 0px;
}


#completed:hover {
    border: 1.5px solid #edf683;
    box-shadow: 0 0.5em 0.5em -0.4em #edf683;
    transform: translateY(-0.30em);
    color: #fff;
}

#submit {
    border: 1.5px solid #e4f0f5;
    background-color: rgba(255,255,255,0.3);
    padding: 5px 5px
}

#submit:hover {
    border: 1.5px solid #edf683;
    box-shadow: 0 0.5em 0.5em -0.4em #edf683;
    transform: translateY(-0.25em);
    color: #fff;
}


/*Planning*/
.campsite-link {
    padding-right: 10px;
    color:black;
}
.campsite-link:visited {
    color: inherit;
}

.campsite-link:hover {
    color: grey;
}

#map-google {
    background-color: rgba(255,255,255,0.3);
    margin: auto;
    margin-top: 150px;
    position: relative;
}

#map-google:after {
    content:'';
    width:65%;
    height:2px;
    background:#606352;
    position:absolute;
    top:-40px;
    right: -100px;

}


#map-google:before {
    content:'';
    width:2px;
    height:65%;
    background:#606352;
    position:absolute;
    top:-85px;
    right: -50px;
}


.plan-hike-split {
    
}

#current-mtn-container{
    max-width: 50%;
    display: flex;
    flex-direction: column;
   
}

#packing-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 20px;
}

#planning-container {
    display: flex;
    flex-direction: row;
    margin: auto;
    max-width: 1500px;
    position: relative;
    padding-top: 100px;
    padding-bottom: 700px;
}

.mountain-select{
    float: right;
    margin-right: 3%
}

.weather {
    width: 375px;
    height: 280px;
    background-color: rgba(255,255,255,0.3);
    padding: 0px 20px 20px 20px;
    margin: 0px 45px 10px 45px;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 1.5rem;
    float: right;
    margin-right: 10%;
}

#packing-form-and-list {
    margin-top: -30px;
}

button, .planning-button {
    border: 1.5px solid #e4f0f5;
    background-color: rgba(255,255,255,0.3);
    padding: px 5px
}

.planning-button:hover {
    border: 1.5px solid #edf683;
    box-shadow: 0 0.5em 0.5em -0.4em #edf683;
    transform: translateY(-0.25em);
    color: #fff;
}

button:hover {
    border: 1.5px solid #edf683;
    box-shadow: 0 0.5em 0.5em -0.4em #edf683;
    transform: translateY(-0.25em);
    color: #fff;
}

#campsites {
    clear: right;
    height: 175px
}

.campsite-li, .campsite-link{
    padding-left: 0px;
}
#help {
    background-color: orange;
}
#weather-icon {
    margin-top: 5px;
    width: 30px;
}

#formtitle {
    display: flex;
    font-size: 25px;
    padding: -0px 10px 10px 10px;
}

#packing-input{
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    height: auto;
}


#packing-list{
    margin: 10px;
    font-size: 15px;
    padding: 5px;
    background-color: rgba(255,255,255,0.3);
    min-height: 200px;
    max-height: 500px;
    overflow-y: auto;
    list-style-type: none;
    min-width: 100px;
    max-width: 400px;
    margin-left: 10%;
}


.packing-item{
    margin: 10px;
}

.packing-check {
    display: flex;
    float: right;

}
#packing {
    margin-left: 10%
}

/* my peaks styling */

#my-peaks-container {
    max-width: 1500px;
    margin: auto;
    padding-top: 30px;
}

.my-peaks {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 30px;
}

.peak-item {
    display: flex;
}

.my-peak {
    width: 305px;
    height: 480px;
    background-color: rgba(255,255,255,0.3);
    padding: 0px 20px 20px 20px;
    margin: 10px 45px 10px 45px;
    overflow-y: auto;
    overflow-x: hidden;
}

.my-image {
    object-fit: cover;
    width: 300px;
    height: 169px;
    margin: auto;
}

.insta-photos {
    max-width: 150px;
    margin: 0px 20px 50px 20px;
    border-radius: 5px;

}

#insta-icon {
    max-width: 60px;
    margin: 60px 0px 15px 0px;
}

#insta-text {
    font-size: 1.6rem;
}

#insta-icon:hover {
    cursor: pointer;
}

#insta-container{
    background-color: rgba(255,255,255,0.3);
}

#instagram{
    text-align: center;
    background-color: rgba(255,255,255,0.3);
}

#instagram div p {
    margin-bottom: 40px;
}